<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button aria-label="Menu" ng-click="toggleLeft()" ng-hide="isOpenLeft()" class="md-icon-button" id="hamburger">
            <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
        </md-button>
        <h2 flex md-truncate id="title">Mustang Manager</h2>
        <md-button ng-click="logout()" class="md-primary" id="logout">Logout</md-button>
    </div>
</md-toolbar>

<md-content layout="row" layout-align="center center">
    <md-card id="searchCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Course Search</span>
                <md-chips ng-model="ctrl.tags" readonly="false" md-removable="true" md-enable-chip-edit="true" placeholder="Enter a course..."></md-chips>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="searchSpace" dragula='"first-bag"'>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button ng-click="" class="md-primary">Search</md-button>
        </md-card-actions>
    </md-card>
    <md-card id="infoCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Course Info</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
    </md-card>
</md-content>

<md-content layout="row" layout-align="center">
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Fall</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Winter</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Spring</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Fall</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Winter</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Spring</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Fall</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Winter</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Spring</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Fall</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Winter</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card class="flowchartCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Spring</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="flowchartSpace" dragula='"first-bag"'>
            <div class="card">
                <div class="card-header">
                    <h3>CPE 101</h3>
                </div>
                <div class="card-body">
                    <p>4 units</p>
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-content>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <h2 flex class="md-toolbar-tools">Menu</h2>
            <md-button ng-click="close()" class="md-primary" id="closeNav">
                Close
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-controller="LeftCtrl" layout-padding="" layout="column">
        <md-button class="md-primary faq-dialog-open-button" ng-click="ctrl.showDialog($event)">
            FAQ
        </md-button>
    </md-content>
</md-sidenav>