<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button aria-label="Menu" ng-click="toggleLeft()" ng-hide="isOpenLeft()" class="md-icon-button"
                   id="hamburger">
            <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
        </md-button>
        <h2 flex md-truncate id="title">Mustang Manager</h2>
        <md-button ng-click="logout()" class="md-primary" id="logout">Logout</md-button>
    </div>
</md-toolbar>

<md-content layout="row" layout-align="center center">
    <md-card id="searchCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Course Search</span>
                <md-input-container class="md-block">
                    <input ng-model="query" type="text" placeholder="Enter a course... 'CPE123'"
                           ng-keyup="$event.keyCode == 13 && search()" autofocus>
                </md-input-container>
                <!--<md-chips ng-model="ctrl.tags" readonly="false" md-removable="true" md-enable-chip-edit="true" placeholder="Enter a course..."></md-chips>-->
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-show="id >= 0" class="searchSpace" dragula='"quarter-bag"'>
            <div class="{{id}} {{name}}">
                <div class="card">
                    <div class="card-header">
                        <h3>{{name}}</h3>
                    </div>
                    <div class="card-body">
                        <p>{{units}}</p>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
            <md-button ng-click="search()" class="md-primary">Search</md-button>
        </md-card-actions>
    </md-card>
    <md-card id="infoCard">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Course Info</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <h2>{{name}} {{title}} {{units}}</h2>
            <p>{{termsOffered}}</p>
            <p>{{prerequisites}}</p>
            <p>{{description}}</p>
        </md-card-content>
    </md-card>
</md-content>


<div >
    <md-content id="flowchartHome">
        <md-grid-list
                md-cols-xs="2" md-cols-sm="4" md-cols-md="8" md-cols-gt-md="12"
                md-row-height-gt-md="1:1" md-row-height="2:2">

            <md-grid-tile md-rowspan="0" md-colspan="0" ng-repeat="quarter in quarterArr">
                <quarter></quarter>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <md-toolbar ng-controller="LeftCtrl" class="md-theme-light">
        <div class="md-toolbar-tools">
            <h2 flex class="md-toolbar-tools">Menu</h2>
            <md-button ng-click="close()" class="md-primary" id="closeNav">
                Close
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout-padding="" layout="column" ng-controller="ManageFlowchartMenu">


        <md-button  ng-click="showMenu = !showMenu" ng-class="{ active: showMenu }"
                    class="md-primary faq-dialog-open-button" style="text-align:left" aria-label="View Source">
            Manage Flowcharts
        </md-button>


        <md-list ng-show="showMenu">
            <md-list-item>
                <md-button class="md-primary faq-dialog-open-button">
                    Flowchart 1
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary faq-dialog-open-button">
                    Flowchart 2
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary faq-dialog-open-button">
                    Flowchart 3
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary faq-dialog-open-button">
                    Flowchart 4
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary faq-dialog-open-button">
                    Flowchart 5
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary faq-dialog-open-button">
                    Create Flowchart
                </md-button>
            </md-list-item>
        </md-list>

        <!--
        <md-button class="md-primary faq-dialog-open-button" ng-show="showMenu" ng-animate>
            Flowchart 1
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-show="showMenu" ng-animate>
            Flowchart 2
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-show="showMenu" ng-animate>
            Flowchart 3
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-show="showMenu" ng-animate>
            Flowchart 4
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-show="showMenu" ng-animate>
            Flowchart 5
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-show="showMenu">
            Create Flowchart
        </md-button>
        -->



        <md-button class="md-primary faq-dialog-open-button" ng-click="" style="text-align:left">
            Export Flowchart
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-click="" style="text-align:left">
            Add Year
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-click="" style="text-align:left">
            Remove Year
        </md-button>
        <md-button class="md-primary faq-dialog-open-button" ng-click="ctrl.showDialog($event)" style="text-align:left">
            FAQ
        </md-button>







    </md-content>
</md-sidenav>